BASE_PATH=
DATABASE_URL=https://fbigshuuagnswdkwiuoy.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZiaWdzaHV1YWduc3dka3dpdW95Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY2Mjc1OTYsImV4cCI6MjA5MjIwMzU5Nn0.C1HA51g5vk-aTh5Mjnzu-BexOLz4b6S5cpDHGjVN19M
VITE_SUPABASE_URL=BBUTkr2nlehw4WNNlTDVhSeboxvVtgVKrTy9JVwviJky6B76JDrVivOshztPaf2xOrtsyaEouuxMhC3mUDsyf2w
VITE_VAPID_PUBLIC_KEY=